{% extends 'main/layout.html' %}

{% block title %}{{ rest.title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ rest.title }}</h1>
        <p>{{ rest.date }}</p>
        <p>{{ rest.food }}</p>
        <p>{{ rest.tel }}</p>
        <p>{{ rest.addr }}</p>
        <p>{{ rest.url }}</p>
        <a href="{% url 'rest-delete' rest.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'rest-update' rest.id %}" class="btn btn-info">Редактировать</a>
    </div>
{% endblock %}